@CHARSET "UTF-8";
* {
	margin: 0;
	border: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

p{
	font-size: 3em;
}

p button{
	font-size: 30px;
}

p button:hover{
	border-width: 1px;
	border-style: solid;
	border-color: blue;
}

.personal{
	width: 100%;
	margin: 20px 0;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.InterestClassSelect {
	position: relative;
	top: 20px;
	width: 100%;
	text-align: center;
}

.InterestClassSelect p{
	display: block;
	float: left;
	background-color: grey;
	color: snow;
	margin: 50px 0px;
	border-width: 2px;
	border-style: solid;
	border-radius: 2px;
	border-color: black;
}

.InterestClassSelect p input[type="checkbox"]{
	height: 40px;
	width: 40px;
	margin: 0 10px;
}

.Footer{
	width: 100%;
}

.Footer input{
	display: block;
	height: 100%;
	width: 100%;
	font-size: 1em;
}